footer {
    padding: 1.5rem 0;
    font-family: "Proxima Nova", "Roboto", "Raleway", sans;
    font-weight: 500;
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        max-width: 78.75rem;
    }
    nav a {
        font-size: 0.875rem;
        color: $white;
    }
    .nav-and-logo {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    .address-and-notes {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
        justify-content: flex-end;
    }
    address {
        font-size: 0.875rem;
        font-style: normal;
        margin-bottom: 0.5rem;
    }
    .notes {
        font-size: 0.625rem;
        a {
            color: $white;
        }
    }
}