.gallery {
  margin: 4rem -1.5rem -3rem;
  @media screen and (min-width: $tablet_lg) {
    margin: 4rem 0 0 0;  
  }
  .swiper-container {
    height: 100vw;
    max-height: 40rem;
    @media screen and (min-width: $tablet_lg) {
      height: 50vw;
      max-height: 40rem;
    }
  }
  .swiper-container-wrapper {
    position: relative;
  }
  .swiper-slide {
    position: relative;
    .bg-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  .swiper-button-prev, .swiper-button-next {
    display: none;
    outline: none;
    height: 5.375rem;
    width: 2.5rem;
    background-size: cover;
    @media screen and (min-width: $tablet_lg) {
      display: block;
    }
    //min-height: 54vw;
  }
  .swiper-button-prev {
    background-image: url("../img/icon-img-arrow-left.svg");
    left: auto;
    right: calc(100% + 3rem);
  }
  .swiper-button-next {
    background-image: url("../img/icon-img-arrow-right.svg");
    right: auto;
    left: calc(100% + 3rem);
  }
  .swiper-pagination-bullet {
    background-color: $white;
    height: 0.5rem;
    width: 0.5rem;
  }
}