.gallery {
  margin: 4rem -1.5rem -3rem;
  @media screen and (min-width: $tablet_sm) {
    margin: 4rem 5% 0; 
  }
  .swiper-container {
    height: 100vw;
    max-height: 40rem;
    @media screen and (min-width: $tablet_lg) {
      height: 50vw;
      max-height: 40rem;
    }
  }
  .swiper-container-wrapper {
    position: relative;
  }
  .swiper-slide {
    position: relative;
    .bg-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  .swiper-button-prev, .swiper-button-next {
    outline: none;
    background-size: cover;
    @media screen and (min-width: $tablet_lg) {
      height: 5.375rem;
      width: 2.5rem;
      display: block;
    }
    //min-height: 54vw;
  }
  .swiper-button-prev {
    left: 0.75rem;
    background-image: url("../img/icon-img-arrow-left-light.svg");
    
    @media screen and (min-width: $tablet_sm) {
      right: calc(100% + 2.5%);
      left: auto;
      background-image: url("../img/icon-img-arrow-left.svg");
    }
  }
  .swiper-button-next {
    right: 0.75rem;
    background-image: url("../img/icon-img-arrow-right-light.svg");
    @media screen and (min-width: $tablet_sm) {
      left: calc(100% + 2.5%);
      right: auto;
      background-image: url("../img/icon-img-arrow-right.svg");
    }
  }
  .swiper-pagination-bullets {
    bottom: 1.5rem;
  }
  .swiper-pagination-bullet {
    background-color: $white;
    height: 0.5rem;
    width: 0.5rem;
    @media screen and (min-width: $tablet_sm) {
      height: 1rem;
      width: 1rem;
    }
  }
}