header {
    position: fixed;
    z-index: 9;
    background-color: rgba(100,100,100,0.5);
    @media screen and (min-width: $tablet_lg) {
        background-color: transparent
    }
    .container {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 78.75rem;
        @media screen and (min-width: $tablet_lg) {
            align-items: flex-end;
            min-height: 6.25rem;
        }
    }
    .branding {
        .logo {
            display: block;
            @media screen and (min-width: $tablet_lg) {
                display: none;
            }
            &-desktop {
                display: none;
                @media screen and (min-width: $tablet_lg) {
                    display: block;
                }
            }
        }
    }
    .hamburger {
        height: 100%;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        &-container {
            width: 48px;
            height: 30px;
            cursor: pointer;
            display: block;
            @media screen and (min-width: $tablet_lg) {
                display: none;
            }
        }
        li {
            height: 2px;
            background: $black;
            content: "";
            position: relative;
            transition: 0.25s ease-in-out;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 12px;
            }
            &:nth-child(3) {
                top: 24px;
            }

        }
        &.is-active {
            li {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 14px;
                }
                &:nth-child(2) {
                    transform: rotate(-45deg);
                }
                &:nth-child(3) {
                    opacity: 0;
                }
            }
        }
    }
}