nav {
    background-color: $dark-gray;
    font-family: $proxima-nova;
    font-weight: $semibold;

    @media screen and (min-width: $tablet_lg) {
        position: relative;
        display: none;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: transparent;
    }

    &.dropdown {
        @media screen and (max-width: $tablet_lg) {
            position: absolute;
            display: none;
            left: 0;
            right: 0;
            padding: 0;
            margin: 0;
            top: 100%;
            width: 100%;
        }
        a {
            font-size: 0.875rem;
            padding: 1rem;
            @media screen and (min-width: $tablet_lg) {
                display: inline-block;
                padding: 0.5rem;
            }
        }
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        margin: 0 auto;
        padding: 0;
        @media screen and (min-width: $tablet_lg) {
            justify-content: flex-start;
            flex-flow: row wrap;
            justify-content: space-evenly;
        }
    }
    li {
        margin: 0; padding: 0;
    }
    a {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: $black;
        padding: 0.5rem;
        @media screen and (min-width: $tablet_lg) {
            display: inline-block;
            padding: 0.5rem;
        }
    }
}